* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v235_17 {
  width: 100%;
  height: 2936px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
.v6_3 {
  width: 999px;
  color: rgba(46,46,46,1);
  position: absolute;
  top: 294px;
  left: 112px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v51_154 {
  width: 100%;
  height: 809px;
  background: url("../images/v51_154.png") no-repeat center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0;
  overflow: hidden;
}
.v51_87 {
  width: 100%;
  height: 809px;
  background: url("../images/v51_87.png") no-repeat center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
.v51_151 {
  width: 660px;
  height: 105px;
  background: url("../images/v51_151.png") no-repeat center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 704px;
  left: 138px;
  overflow: hidden;
}
.v51_146 {
  width: 660px;
  height: 105px;
  background: rgba(77,43,55,0.7);
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 3px;
  overflow: hidden;
}
.v51_143 {
  width: 617px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 23px;
  font-family: 'Bodoni Moda', serif;
  font-weight: 400;
  font-size: 27px;
  opacity: 0.99;
  text-align: left;
}
.v51_149 {
  width: 122px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 53px;
  left: 26px;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 24px;
  opacity: 0.99;
  text-align: left;
}
.v51_150 {
  width: 31px;
  background: url("../images/v51_150.png");
  opacity: 1;
  position: absolute;
  top: 71px;
  left: 156px;
  border: 2px solid rgba(255,255,255,1);
}
.v51_153 {
  width: 655px;
  height: 105px;
  background: url("../images/v51_153.png") no-repeat center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 353px;
  left: 0;
  overflow: hidden;
}
.v51_145 {
  width: 631px;
  height: 105px;
  background: rgba(6,21,49,0.7);
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 3px;
  overflow: hidden;
}
.v51_141 {
  width: 610px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4px;
  left: 45px;
  font-family: 'Bodoni Moda', serif;
  font-weight: 400;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v1_3 {
  width: 100%;
  height: 1891px;
  background: url("../images/v1_3.png") no-repeat center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 397px;
  left: 75px;
  overflow: hidden;
}
.v1_11 {
  width: 100%;
  height: 1365px;
  background: url("../images/v1_11.png") no-repeat center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 526px;
  left: 0;
  overflow: hidden;
}
.v66_12 {
  width: 100%;
  height: 1365px;
  background: url("../images/v66_12.png") no-repeat center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
.v69_16 {
  width: 249px;
  height: 243px;
  background: url("../images/v69_16.png") no-repeat center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 207px;
  left: 259px;
  overflow: hidden;
}
.v66_13 {
  width: 249px;
  height: 243px;
  background: rgba(13,13,13,1);
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 163px;
  overflow: hidden;
}
.v64_7 {
  width: 177px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 56px;
  left: 45px;
  text-shadow: -3.68px -3.68px 7px rgba(0.6627451181411743, 0.1411764770746231, 0.14901961386203766, 1);
  font-family: 'Bodoni Moda', serif;
  font-weight: 600;
  opacity: 1;
  text-align: left;
}
.v69_15 {
  width: 249px;
  height: 243px;
  background: url("../images/v69_15.png") no-repeat center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1122px;
  left: 259px;
  overflow: hidden;
}
.v66_11 {
  width: 249px;
  height: 243px;
  background: rgba(13,13,13,1);
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 163px;
  overflow: hidden;
}
.v64_9 {
  width: 190px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 26px;
  left: 41px;
  text-shadow: -3.048px -3.048px 6px rgba(0.6627451181411743, 0.1411764770746231, 0.14901961386203766, 1);
  font-family: 'Bodoni Moda', serif;
  font-weight: 600;
  opacity: 1;
  text-align: left;
}
.v69_17 {
  width: 271px;
  height: 243px;
  background: url("../images/v69_17.png") no-repeat center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 664px;
  left: 259px;
  overflow: hidden;
}
.v66_14 {
  width: 249px;
  height: 243px;
  background: rgba(13,13,13,1);
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 163px;
  overflow: hidden;
}
.v64_10 {
  width: 230px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 33px;
  left: 41px;
  text-shadow: -3.68px -3.68px 7px rgba(0.6627451181411743, 0.1411764770746231, 0.14901961386203766, 1);
  font-family: 'Bodoni Moda', serif;
  font-weight: 600;
  opacity: 1;
  text-align: left;
}
.v1_12 {
  width: 100%;
  color: rgba(168,36,38,1);
  position: relative;
  top: 0;
  left: 0;
  font-family: 'Bodoni Moda', serif;
